{
	"bracketSpacing": true,
	"useTabs": true,
	"tabWidth": 1,
	"jsxBracketSameLine": true,
	"singleQuote": true,
	"trailingComma": "none",
	"arrowParens": "always",
	"semi": false,
	"proseWrap": "never",
	"printWidth": 120,
	"bracketSameLine": true
}